
<p-dialog styleClass="fbs-roboto-300" [(visible)]="asociarDialog" [style]="{'width': '800px'}"
     [draggable]="false" [modal]="true">
    <ng-template pTemplate="header">
        <h1 class="fbs-roboto-300">Asociar Trámites</h1>
    </ng-template>
    
    <ng-template pTemplate="content">

        <p-pickList 
            [responsive]="true"
            filterBy="NOMBRE_TRAMITE"
            targetFilterPlaceholder="Buscar por nombre"
            sourceFilterPlaceholder="Buscar por nombre"
            [source]="tramitesNoAsociados"
            [showSourceControls] = "false"
            [showTargetControls] = "false"
            [target]="tramitesAsociados">

            <ng-template pTemplate="sourceHeader">
                <h5 class="fbs-roboto-300">Disponibles</h5>
            </ng-template>
            <ng-template pTemplate="targetHeader">
                <h5 class="fbs-roboto-300">Seleccionados</h5>
            </ng-template>
            
            <ng-template  let-tramite pTemplate="item">
                <div>
                    {{tramite.ID_TRAMITE }} - {{tramite.NOMBRE_TRAMITE }}
                </div>
            </ng-template>
        </p-pickList>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger"
            (click)="cerrarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="guardarCambios()"></button>
    </ng-template>
</p-dialog>
