

<!-- <div class="d-flex h-100">
    
    <app-presentacion-login class="container"></app-presentacion-login>
        
    <p-divider layout="vertical" class="h-75 my-auto"></p-divider>

    <app-login class="container"></app-login>

</div> -->




<div class="bg-fbs-orange py-3 fixed-top"></div>

<div class="container-fluid h-100">

    <div class="row h-100">
        <div class="col-lg-6 col-md-12 text-center">
            <app-presentacion-login></app-presentacion-login>
        </div>

        <div class="col-lg-6 col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<div class="bg-fbs-dark-blue py-3 fixed-bottom"></div>