<h1 class="fbs-roboto-500 mb-3">Asignación de roles</h1>

<div class="p-fluid row mb-2 gap-1">
    <div class="field col-lg-2 col-md col-sm-12">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
    </div>
    <div class="field col-lg-3 col-md col-sm-12 ms-auto">
        <div class="p-inputgroup">
            <span (click)="inputFilter.focus()" class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input pInputText #inputFilter type="text" (input)="dt.filterGlobal(inputFilter.value, 'contains')"
                placeholder="Filtro Global" />
        </div>
    </div>
</div>

<p-table #dt dataKey="id" [columns]="cols" [value]="usuarios" [loading]="loading" [rowsPerPageOptions]="[10,25,50]"
    [rows]="15" [rowHover]="true" [paginator]="true" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} a {last} de {totalRecords} páginas"
    [globalFilterFields]="['CEDULA','NOMBRE','APELLIDO_1','APELLIDO_2', 'FECHA_NAC']">


    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field" [style]="col.style">
                <span class="fbs-roboto-500">{{col.header | titlecase}}</span>
                <p-columnFilter [type]="col.type || 'text'" [field]="col.field" display="menu"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{usuario.CEDULA}}</td>
            <td>{{usuario.NOMBRE | titlecase}}</td>
            <td>{{usuario.APELLIDO_1}}</td>
            <td>{{usuario.APELLIDO_2}}</td>
            <td>{{usuario.FECHA_NAC | date : 'dd/MM/YYYY'}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning me-2" (click)="editarRolDialog(usuario)"></button>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">No customers found.</td>
        </tr>
    </ng-template>
</p-table>


<!-- Componentes necesarios  -->

<app-e-usuario (refreshData)="cargarUsuarios()"></app-e-usuario>
