<div class="p-fluid row mb-2 gap-1">
    <div class="field col-lg-2 col-md">
        <p-button styleClass="p-button-warning" label="Agregar" icon="pi pi-plus" (click)="agregarTramiteDialog()"></p-button>
    </div>
    <div class="field col-lg-3 col-md ms-auto">
        <div class="p-inputgroup">
            <span (click)="inputFilter.focus()" class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input pInputText #inputFilter type="text" (input)="dt.filterGlobal(inputFilter.value, 'contains')" [(ngModel)]="inputFiltro"
                placeholder="Filtro Global" />
            <button pButton class="p-button-outlined p-button-primary" icon="pi pi-filter-slash"
                (click)="clear(dt)"></button>
        </div>
    </div>
</div>

<p-table #dt dataKey="id" [columns]="cols" [value]="tramites" [loading]="loading"
    [tableStyle]="{'min-width': '70rem'}" [rowsPerPageOptions]="[10,25,50]" [rows]="50" [rowHover]="true"
    [paginator]="true" [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
    [globalFilterFields]="['ID_TRAMITE','NOMBRE_TRAMITE','DESCRIPCION_TRAMITE','FECHA']">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field" [style]="col.style">
                <span class="fbs-roboto-500">{{col.header | titlecase}}</span>
                <p-sortIcon *ngIf="col.field" [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tramite let-i="rowIndex">
        <tr>
            <td>{{tramite.ID_TRAMITE }}</td>
            <td>{{tramite.NOMBRE_TRAMITE}}</td>
            <td>{{tramite.DESCRIPCION_TRAMITE}}</td>
            <td>{{tramite.FECHA | date : 'dd/MM/YYYY'}}</td>
            <td>
                <p-inputSwitch (click)="actualizarEstadoTramite(tramite)" [(ngModel)]="tramite.ESTADO"></p-inputSwitch>
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning me-2"
                    (click)="editarTramiteDialog(tramite)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="eliminarTramiteDialog(tramite)"></button>
            </td>
        </tr>
    </ng-template>

</p-table>

<!-- Componentes necesarios -->

<app-aed-tramite (refreshData)="cargarTramites()"></app-aed-tramite>



